{% extends "home/base.html" %}

{% block title %}{{ probe.type }}{% endblock %}

{% block content %}

<h2 style="padding-left:40px;">Instance {{ probe.type }} : {{ probe.name }}</h2>
<div class="row">
    <div class="col-md-6 mb-3" style="padding-left:50px;">
        {% if probe.description != " " %}
        Description:
        <pre>{{ probe.description }}</pre>
        {% endif %}
        Os : {{ probe.server.os }} <br>
        Host : {{ probe.server.host }}<br>
        Created date : {{ probe.created_date }}<br>
        {% if probe.rules_updated_date %}
        Last Check date : {{ probe.rules_updated_date }}
        {% else %}
        Check updated date : Never
        {% endif %}
        <br><br>
        {% load status_cve %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-{{ probe.id|status_cve }}" onclick="window.location.href='/{{ probe.type|lower }}/check/{{ probe.id }}'">Check CVE</button>
        </div>
        <br>
        {% if messages %}
        <br>
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message|safe }}</strong>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        {% if probe.vulnerabilities %}
        CVE Found :<br>
        {% for cve in probe.vulnerabilities %}
        <div class="btn-group" role="group">
        {% if probe.server.os == 'debian' %}
            <button type="button" class="btn btn-outline-danger" onclick="window.open('https://security-tracker.debian.org/tracker/{{ cve }}/')">{{ cve }}</button>
        {% else %}
            <button type="button" class="btn btn-outline-danger" onclick="window.open('https://www.cvedetails.com/cve/{{ cve }}/')">{{ cve }}</button>
        {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
